# Revisores obligatorios para el archivo de trabajo crítico
# Ajusta los owners según tu equipo real.

* @DianaHernandez @Eloscar21

/mejora-sjr-mobile/ @DianaHernandez @Eloscar21
/mejora-sjr-backend/ @Eloscar21
/mejora-sjr-admin/ @DianaHernandez
