# Propietario principal del código
* @Dianamar06

# Aplicación móvil
/mejora-sjr-mobile/ @Dianamar06

# Backend
/mejora-sjr-backend/ @Dianamar06

# Panel administrativo
/mejora-sjr-admin/ @Dianamar06
